.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  height: 100%;
  background-color: darkorchid;
  padding-bottom: 2.5%;
}

.Header{
  position:fixed;
  height: calc(100px + 0.5vh);
  align-items: center;
  background-color: mediumslateblue;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1.5%;
  color: white;
  width: 100%;
  z-index: 4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.HeaderNarrow{
  position:fixed;
  height: 10vw;
  align-items: center;
  background-color: mediumslateblue;
  padding-top: 1vw;
  padding-bottom: 1vw;
  color: white;
  width: 100%;
  z-index: 4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.TopCard{
  margin-top: calc(120px + 0.5vh);
}
.TopCardNarrow{
  margin-top: calc(20px + 10vw);
}
.Card{
  background-color: white;
  padding: 5%;
  margin: 2.5%;
  margin-bottom: 0;
  width: 85%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  border-radius: 5px;
  justify-items: center;
}

.SourcesLink{
  position:absolute;
  align-self: flex-end;
}

.Author{
  
    padding: 5%;
    padding-top: 0% ;
    padding-left: 5%;
    padding-bottom: 0%;
    font-size: calc(16px + 0.5vw);
    text-align: left;
    color: silver
}

.h3{
  padding: 5%;
  padding-top: 1% ;
  padding-left: 2.5%;
  padding-bottom: 0%;
  color: darkslateblue;
  font-size: calc(18px + 0.5vw);
  text-align: left
}

.Title{
  padding-left: 2.5vw;
  padding-bottom: 0%;
  color: white;
  font-size: calc(36px + 0.5vh);
  text-align: left
}
.TitleNarrow{
  padding-left: 2.5vw;
  padding-bottom: 0%;
  font-size: 4vw;
  text-align: left
}
.SubtitleHeading{
  padding: 5%;
  padding-top: 0% ;
  padding-left: 2.5%;
  padding-bottom: 0%;
  font-size: calc(24px + 0.5vh);
  text-align: left
}
.SubtitleHeadingNarrow{
  padding: 5%;
  padding-top: 0% ;
  padding-left: 2.5%;
  padding-bottom: 0%;
  font-size: 3vw;
  text-align: left
}
.Graph{
  width: 85%;
  height: auto;
  padding-left: 5%;
}
.Subtitle{
  padding: 5%;
  padding-top: 0% ;
  padding-left: 2.5%;
  padding-bottom: 0%;
  font-size: calc(24px + 0.5vw);
  text-align: left
}

.bodyText{
  display: block;
  padding: 5%;
  padding-top: 2.5%;
  width: 85%;
  font-size: calc(16px + 0.5vw);
  text-align: justify;
}
.bodyTextBlog{
  display: block;
  padding: 5%;
  padding-bottom: 0%;
  padding-top: 2.5%;
  width: 85%;
  font-size: calc(16px + 0.5vw);
  text-align: justify;
}
.bodyTextList{
  display: block;
  padding: 5%;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 7.5%;
  width: 85%;
  font-size: calc(16px + 0.5vw);
  text-align: justify;
}
.ListItem{
  margin-bottom: 1vh;
}
.Divider{
  min-height: 2px;
  width: 66%;
  margin-left: 2.5%;
  background-color: coral;
}