.containerStyle {
    display: flex;
    width:95%;
    height: 90%;
    padding-left: 2.5%;
    justify-content: center;
    text-align: center;
    justify-self: center;
    flex-direction: column;
}

.overlayButton {
    float: right;
    height: 10%;
    min-width: 10vw;
    height: 3vh;
    z-index: 2;
    margin: 5px;
    border-radius: 5px;
    border-width: 0;
    background-color: coral;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.dateButton {
    float: left;
    height: 10%;
    min-width: 7.5vw;
    height: 3vh;
    z-index: 2;
    margin: 5px;
    border-radius: 5px;
    border-width: 0;
    background-color: coral;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.radiusButton{
    height: 10%;
    min-width: 7.5vw;
    height: 3vh;
    z-index: 2;
    margin: 5px;
    border-radius: 5px;
    border-width: 0;
    background-color: coral;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Legend{
    position:absolute;
    align-self: flex-end;
    width: 25vh;
    height: 25vh;
    z-index:3;
}